* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,800&display=swap');

:root {
    --font-main: 'Montserrat', sans-serif;
}

body {
    background-color: #010326da;
    font-family: var(--font-main);
}

header {
    min-width: 150px;
    border: 1px solid black;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 10px;
    background-image: linear-gradient(to bottom, #F23A29, #A62626);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.392);
}

header h1 {
    margin-bottom: 10px;
    color: #f2f2f2;
    font-size: 3rem;
}

span {
    color: rgb(10, 10, 74);
}

nav {
    text-align: center;
}

nav a {
    padding: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
   /* text-transform: uppercase; */
    font-style: italic;
    transition: 0.5s;
    font-size: 1.5em;
}

nav a:hover {
    text-decoration: underline rgb(8, 8, 69);
}

main {
    border: 1px solid black;
    max-width: 1150px;
    min-width: 200px;
    margin: auto;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 0 0 4px 4px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.282);
}

article {
    margin: auto;
    max-width: 800px;
    min-width: 150px;
}

article hr {
    border: 1px solid rgba(0, 0, 0, 0.475);
}

article img  {
    width: 100%;
}

article p {
    margin: 10px;
    line-height: 1.5em;
    text-align: justify;
    font-size: 18px;
}

article > section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

article h1 {
    font-size: 2em;
    text-align: center;
}

section img {
    border: 1px solid rgba(0, 0, 0, 0.407);
}

footer {
    min-width: 150px;
    
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.464);
    color: #f2f2f2;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}